{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <title>CallScorePro</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}" />

    <!-- SCRIPTS -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</head>

<body>
    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">
            <span class="spinner-rotate"></span>
        </div>
    </section>

    <!-- MENU -->
    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>

                <!-- lOGO TEXT HERE -->
                <a href="#home" class="navbar-brand"><img src="{% static 'img/logo.png' %}" alt="company-logo"
                        style="height: auto; width: 200px" /></a>
            </div>

            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-nav-first">
                    <li><a href="#home" class="smoothScroll">Home</a></li>
                    <li><a href="#about" class="smoothScroll">About</a></li>
                    <li><a href="#contact" class="smoothScroll">Contact Us</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class="section-btn">
                        <a href="#" data-toggle="modal" data-target="#modal-form">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- HOME -->
    <section id="home" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="home-info">
                        <h1>
                            Redefining Call Evaluation with
                            <b>Automated Call Scoring</b> and <b>Performance Tracking</b>
                        </h1>
                        <a href="#contact" class="btn section-btn smoothScroll">Contact Us</a>
                        <span>
                            CALL US (+632) 8911-0964
                            <small>For any inquiry</small>
                        </span>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="home-video">
                        <div class="embed-responsive embed-responsive-16by9">
                            <video autoplay loop muted>
                                <source src="{% static 'img/prom-vid.webm' %}" type="video/webm"
                                    style="background: transparent" />
                            </video>
                            <!-- <iframe src="https://www.youtube.com/embed/AqcjdkPMPJA" frameborder="0" allowfullscreen></iframe> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ABOUT -->
    <section id="about" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <div class="about-info">
                        <div class="section-title">
                            <h2>Let us introduce</h2>
                            <span class="line-bar">...</span>
                        </div>
                        <p>
                            CallScorePro helps companies with call center who want to
                            streamline their call quality evaluation process
                        </p>
                        <p>
                            By implementing <b>automated call scoring solution</b>, a
                            <b>performance dashboard</b> and a
                            <b>scoring metric customization interface</b>, enabling them to
                            have a more efficient approach towards operational processes
                        </p>
                        <p>
                            With this we can cover traditional call quality evaluation
                            process that is resource-intensive and subject to human biases.
                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="about-info skill-thumb">
                        <strong>Automated Call Scoring</strong>
                        <span class="pull-right">100%</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>

                        <strong>Call Transcription</strong>
                        <span class="pull-right">99%</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="99"
                                aria-valuemin="0" aria-valuemax="100" style="width: 99%"></div>
                        </div>

                        <strong>Scoring Flexibility</strong>
                        <span class="pull-right">98%</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="98"
                                aria-valuemin="0" aria-valuemax="100" style="width: 98%"></div>
                        </div>

                        <strong>Sensitive Data Redaction</strong>
                        <span class="pull-right">95%</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="95"
                                aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="about-image">
                        <img src="{% static 'img/about-image.jpg' %}" class="img-responsive" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- CONTACT -->
    <section id="contact" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Contact us</h2>
                        <span class="line-bar">...</span>
                    </div>
                </div>

                <div class="col-md-8 col-sm-8">
                    <!-- CONTACT FORM HERE -->
                    <form id="contact-form" role="form" action="#" method="post">
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" placeholder="Full Name" id="cf-name" name="cf-name"
                                required="" />
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <input type="email" class="form-control" placeholder="Your Email" id="cf-email"
                                name="cf-email" required="" />
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <input type="tel" class="form-control" placeholder="Your Phone" id="cf-number"
                                name="cf-number" required="" />
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <select class="form-control" id="cf-budgets" name="cf-budgets">
                                <option>Budget Level</option>
                                <option>$500 to $1,000</option>
                                <option>$1,000 to $2,200</option>
                                <option>$2,200 to $4,500</option>
                                <option>$4,500 to $7,500</option>
                                <option>$7,500 to $12,000</option>
                                <option>$12,000 or more</option>
                            </select>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <textarea class="form-control" rows="6" placeholder="Your requirements" id="cf-message"
                                name="cf-message" required=""></textarea>
                        </div>

                        <div class="col-md-4 col-sm-12" style="width: 100%;">
                            <input type="submit" class="form-control" name="submit" value="GET A FREE QUOTE" />
                        </div>
                    </form>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="google-map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d663.023817805304!2d121.06156155644648!3d14.625778559427628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b796aecb8763%3A0xaa026ea7350f82e7!2sTechnological%20Institute%20of%20the%20Philippines%20-%20Quezon%20City!5e0!3m2!1sen!2sph!4v1709381453101!5m2!1sen!2sph"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="footer-thumb footer-info">
                        <h2>CallScorePro</h2>
                        <p>
                            &copy; 2024 CallScorePro. All content on this website, including
                            text, images, graphics, and other material, is the property of
                            CallScorePro or its content suppliers and is protected by
                            Philippines and international copyright laws. The compilation of
                            all content on this site is the exclusive property of
                            CallScorePro and is protected by United States and international
                            copyright laws. All rights reserved.
                        </p>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4">
                    <div class="footer-thumb">
                        <h2>Company</h2>
                        <ul class="footer-link">
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4">
                    <div class="footer-thumb">
                        <h2>Services</h2>
                        <ul class="footer-link">
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4">
                    <div class="footer-thumb">
                        <h2>Find us</h2>
                        <p>
                            938 Aurora Blvd,<br />
                            Cubao, Quezon City, Metro Manila
                        </p>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12">
                    <div class="footer-bottom">
                        <div class="col-md-6 col-sm-5">
                            <div class="copyright-text">
                                <p>Copyright &copy; 2024 CallScorePro</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-7">
                            <div class="phone-contact">
                                <p>Call us <span> (+632) 8911-0964</span></p>
                            </div>
                            <ul class="social-icon">
                                <li>
                                    <a href="#" class="fa fa-facebook-square"
                                        attr="facebook icon"></a>
                                </li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- MODAL -->
    <section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-popup" style="border-radius: 10px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="modal-title">
                                    <h2>CallScorePro</h2>
                                </div>

                                <!-- TAB PANES -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane in active" id="sign_in">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="active">
                                                <a href="#sign_in" aria-controls="sign_in" role="tab"
                                                    data-toggle="tab">Login</a>
                                            </li>
                                        </ul>
                                        <form action="" method="post" id="sign_in">
                                            {% csrf_token %}
                                            <input type="text" class="form-control" id="username" name="username"
                                                placeholder="Username" autocomplete="off" required />
                                            <input type="password" class="form-control" id="password" name="password"
                                                placeholder="Password" required />
                                            <input type="submit" class="form-control" name="submit" value="Login" />
                                            <p>
                                                Don't have an account?<br /><a href="#sign_up" aria-controls="sign_up"
                                                    role="tab" data-toggle="tab">Sign up here</a>
                                            </p>
                                        </form>
                                    </div>

                                    <div role="tabpanel" class="tab-pane fade in" id="sign_up">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="active">
                                                <a href="#sign_up" aria-controls="sign_up" role="tab"
                                                    data-toggle="tab">Create an account</a>
                                            </li>
                                        </ul>
                                        <form action="" method="post" onsubmit="signUpFormValidation(event)"
                                            id="sign_up">
                                            {% csrf_token %}
                                            <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name" autocomplete="off" required />
                                            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" autocomplete="off" required />
                                            <input type="text" class="form-control" name="username" id="username" placeholder="Username" autocomplete="off" required />
                                                <p class="error user-error"></p>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" autocomplete="off" required />
                                                <p class="error email-error"></p>
                                            <input type="password" class="form-control" name="password1" id="password1" placeholder="Password" required />
                                                <p class="error pass1-error"></p>
                                            <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm Password" required />
                                                <p class="error pass2-error"></p>
                                            <input type="submit" class="form-control" name="submit" value="Register" />
                                            <p>
                                                Already have an account?<br /><a href="#sign_in" aria-controls="sign_in"
                                                    role="tab" data-toggle="tab">Login here</a>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>