{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div class="div">
    <form method="POST" action="">
        {% csrf_token %}
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter Username" autocomplete="off">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter Password">

        <input type="submit" value="Login">
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>

{% else %}
<div class="div">
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Register">
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>

{% endif %}

{% endblock %}