<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
        <title>CallScorePro {% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--   Core JS Files   -->
        <script src="{% static 'js/core/popper.min.js' %}"></script>
        <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
        <script src="{% static 'js/plugins/smooth-scrollbar.min.js' %}"></script>

        <!-- Plugin for the charts, full documentation here: https://www.chartjs.org/ -->
        <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
        <script> src="{% static 'js/plugins/Chart.extension.js' %}"</script>

        <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="{% static 'js/soft-ui-dashboard.min.js' %}"></script>
        
        <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="{% static 'js/soft-ui-dashboard.min.js' %}?v=1.0.7"></script>
        
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        
        <!-- Nucleo Icons -->
        <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
        <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
        
        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
        
        <!-- CSS Files -->
        <link href="{% static 'css/soft-ui-dashboard.css' %}" rel="stylesheet" type="text/css" media="screen" />
    </head>
    <body class="g-sidenav-show bg-gray-100">  

        {% if messages %}

        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        
        {% endif %}

        {% block content %}

        {% endblock %}        
    </body>
</html>